:root {
  --thistle: #d8bfd8;
  --plum: #8b668b;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --orchid: #7a378b;
  --mainDark: #222;
  --black: #000;
}

body {
  background: var(--thistle);
  color: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-black {
  color: var(--black);
}

.text-plum {
  color: var(--plum);
}
.cart-icon {
  cursor: pointer;
  color: var(--plum);
  font-size: 2rem;
}

.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  opacity: 0.5 !important;
}

.about-background {
  min-height: 80vh;
}

.btn-plum {
  color: var(--plum);
  border-color: var(--plum);
  background-color: var(--mainWhite);
}
.btn-plum:hover {
  color: var(--orchid) !important;
}

.footer {
  background: var(--mainWhite);
}

.menu {
  background: var(--plum);
}
